@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: #ededed;
    --green: #005187;
    --green-dark: #012a45;
    --basic: #9ecc8e;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--white);
    color: var(--green)
}

span {
    color: var(--white);
}
